<header>
  <h1 class="proyect-tittle">STP Networks</h1>
    <div class="container">
      <nav>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <!--<li><a routerLink="/perfil">Contact us</a></li>-->
          <li><a routerLink="/">Proyectos</a></li>
          <li><a routerLink="/">Todo</a></li>
          <li><a routerLink="/">Calendario</a></li>
          <li><a routerLink="/">Estados</a></li>
          <li><a routerLink="/lista" class="active">Personas</a></li>
          <li style="float:right"><a href="#about">About</a></li>
        </ul>
      </nav>
    </div>
</header>